body {
    background-color: rgb(121, 3, 3);
    padding: 0;
    margin: 0;

}

h3 {
    color: #fff;
}

.login {
    text-align: center;
}

.logout {
    text-align: center;
}

nav {
    background-color: #ffcc00;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 1rem;
}

nav ul li a {
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #191919;
    font-weight:500;

}

nav ul li a:link {
    color : #fff;
    text-decoration: none;
}

nav ul li a:hover {
    color : #ff0000;
}   


